<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mepan.mapper.EmailCodeMapper">

    <!--实体映射-->
    <resultMap id="EmailCode" type="com.mepan.entity.po.EmailCode">
        <!--邮箱-->
        <result column="email" property="email"/>
        <!--编号-->
        <result column="code" property="code"/>
        <!--创建时间-->
        <result column="create_time" property="createTime"/>
        <!--0:未使用  1:已使用-->
        <result column="status" property="status"/>
    </resultMap>


    <update id="disableEmailCode">
        update email_code
        set status = 1
        where email = #{email}
          and status = 0;
    </update>


</mapper>
